<div class="formtask">

    <h2 class="taskadd">Agrega una Tarea</h2>
    
    <!-- Formulario -->
<form action="/task/add" method="POST">
<label for="title" class="label-task">Titulo de la tarea</label>
<div class="cont-task-div">
    <input
        type="text"
        id="title"
        name="title"
        class="input-text-tlt"
        placeholder="Titulo"
    />
</div>
<label for="description" class="label-task">Descripción</label>
<div>    
    <textarea
        id="description"
        name="description"
        class="input-text-dsc"
        placeholder="Descripción"
    ></textarea>
</div>
<div class="btn-div-add">
    <button class="button-38">Añadir</button>
</div>
</form>

</div>