
<div class="container">
<!--Importamos el formulario y la lista de los datos-->

    <div class="div-taskform">
        {{> tasks/taskform }} <!-- con esta sintaxis importamos otros hbs-->
    </div>

    <div class="div-tasktable">
        {{> tasks/tasktable }}
    </div>
    
    
</div>