<!--Codigo que se repite en todas las vistas-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Mongo</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>

    {{> navbar }} <!-- Agregamos los partials con  -->

    {{{ body }}} <!-- Es el codigo de index.hbs-->

</body>
</html>